body {
    margin: 10px;
    background-color: #ffffff;
    color: #050429;
    font-family: Arial;
    border-radius: 15px;
}

header {
    background-color: #0054b3;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

#app {
    border-radius: 5px;
    padding: 20px;
    background-color: #dfd8ff;
    text-align: center;
}

button {
    padding: 7px;
    margin: 5px;
    background-color: #0300b3;
    color: white;
    border: none;
    border-radius: 5px;
}

table{
    width: 100%;
    border-radius: 5px;
    border-color: white;
}
td{
    border-radius: 5px;
    background-color: rgb(232, 232, 255);
}

textarea {
    width: 60%;
    height: 80px;
    padding: 7px;
}

#daftar-tugas {
    padding: 10px;
    margin: 5px;
}

#daftar-tugas li {
    background-color:  white;    
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#daftar-catatan {
    margin: 5px;
}

.catatan-item {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#kutipan-harian {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

 .weather-widget {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(135deg, #00c6ff, #0072ff);
            color: white;
            padding: 20px;
            border-radius: 5px;
            width: 280px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            text-align: center;
        }
.weather-widget h3 { margin: 0 0 10px 0; font-size: 1.2rem; }
.temp { font-size: 3rem; font-weight: bold; margin: 10px 0; }
.info { font-size: 0.9rem; opacity: 0.9; 
}

#info-cuaca {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode #app {
    background-color: #333;
}


.dark-mode table{
    width: 100%;
    border-radius: 5px;
    border-color: rgb(68, 66, 66);
}

.dark-mode td{
    border-radius: 5px;
    background-color: rgb(50, 50, 51);
}
.dark-mode header {
    background-color: #111;
    color: white;
}

.dark-mode #daftar-tugas li,
.dark-mode .catatan-item,
.dark-mode #kutipan-harian,
.dark-mode #info-cuaca {
    background-color: #444;
    color: white;
}

.dark-mode button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}
/* responsive mobile*/
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #app {
        width: 100%;
    }

    input,
    textarea,
    button {
        max-width: 100%;
        box-sizing: border-box;
    }

    li {
        word-break: break-word;
    }
}